[defaults]
inventory = ./inventory

remote_user = student
#roles_path
#collections_path
ask_pass = false
# 4. Desactiva la verificación de llaves SSH (Ahorra mucho tiempo en el examen)
#host_key_checking = False

#vault_password_file = .vault_pass

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = false



#-----------------------------------------------------------------------------#
#[defaults]
# 1. Ruta al archivo de inventario del examen
#inventory = ./inventory
# 2. El usuario que el examen te pida usar (ej. automation)
#remote_user = automation
# 3. ¡En false! No queremos que pida contraseña SSH
#ask_pass = False
# 4. Desactiva la verificación de llaves SSH (Ahorra mucho tiempo en el examen)
#host_key_checking = False
#[privilege_escalation]
# 5. Activa el escalado de privilegios por defecto para todos los playbooks
#become = True
# 6. El método estándar para volverse root
#become_method = sudo
# 7. El usuario al que queremos escalar
#become_user = root
# 8. ¡En false! El usuario del examen ya tiene sudo sin contraseña
#become_ask_pass = False
#-----------------------------------------------------------------------------#
